#save_all_btn {
    width: 35%;
}

.controls_settings {
    width: 90%;
    margin: auto;
}

.team_settings {
    width: 90%;
    margin: auto;
}

.team_control_box {
    margin: 15px auto;
    
}

.team_running_info {
    text-align: right;
}

.question_settings {
    width: 90%;
    margin: auto;
}

.wager_settings {
    width: 90%;
    margin: auto;
}

.wager_tile {
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: lightgrey;
}

.wager_tile_value {
    font-size: 20px;
}

.wager_tile_quantity {
    font-size: 12px;
    text-align: right;
}

.wager_tile_add {
    text-align: center;
    line-height: 57px;
    font-size: 64px;
}

/* wager chips shown below team names */
.wager_chip {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.wager_chip_unanswered {
    background-color: lightgray;
}

.wager_chip_correct {
    background-color: green;
}

.wager_chip_incorrect {
    background-color: red;
}


/* Scoreboard & question styling */
.scoreboard {
    width: 60%;
    margin: auto;
    border-radius: 5px;
    border: 3px solid black;
}

.question_display {
    width: 60%;
    margin: 20px auto;
    font-size: 60px;
    font-family: 'Comic Sans';
}